html {    
  background-color: #EFEFEF;    
  font-family: "Georgia";    
}    

.wrapper {                  
  display: grid;
  grid-template-columns: repeat(12, [line] 1fr);    
  grid-gap: 20px;
  padding: 30px  
}      

.wrapper > * {   
  grid-column: line 1 / span 12;
}

header {
  display: flex;
  font-size: 40px;
}

nav ul {
  border-style: solid;
  border-width: 3px;
  font-size: 20px;
  padding: 10px;
  background: #;
  list-style-type: none;
  justify-content: center;
}

nav ul li:hover{
  background-color: #93b5cf;
}

a {
  color: #2c9678;
  text-decoration: none;
}

a:hover{
  background-color: #93b5cf;
}


.menu a {
  color: #144a74;
  text-decoration: none;
  font-size: 20px;
}

h1 {
  background-color: #d8e3e7;  
  font-size: 25px;
  padding: 7px;
  font-weight: normal;
}

.item-name {

  //border-style: solid;
  //border-width: 2px;
}

.item-name:hover {
  background-color: #93b5cf;
}

.hide-content {
  display: none;
}

footer {
  font-size: 15px;
}


@media (min-width: 500px) {

  nav ul { 
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .main-no-side-bar {
    grid-column: line 3 / line 11;
    font-size: 20px;
  }

  .side-bar {
    grid-column: line 2 / line 4;
    height: 300px;
    font-size: 15px;
    background-color: red;
  }

  .main {
    grid-column: line 4 / line 12;
    font-size: 20px;
  }

}




