<nav class="mod-main-menu-container">      
  <ul class="mod-main-menu-list">    
    {% for menu_item in config['Menu'] %}    
      <li>    
        <a href="{{menu_item}}.html" class="mod-main-menu-item">
          {{menu_item}}
        </a>    
      </li>     
    {% endfor %}    
  </ul>    
</nav>    
