html {    
  background-color: #EFEFEF;    
  font-family: "Georgia";    
  font-size: 20px;
}    

.wrapper {                  
  display: grid;
  grid-template-columns: repeat(12, [line] 1fr);    
  grid-gap: 0px;
  padding: 0% 0%  
}      

header {
  display: flex;
  font-size: 40px;
  justify-content: center;
}



a {
  color: #207f4c;
  text-decoration: none;
}

a:hover{
  background-color: #9eccab;
}




.wrapper > * {   
  grid-column: line 1 / span 12;

}

.wrapper {                  
  padding: 2% 0%  
}      

@media only screen and (min-width: 1000px) {
  
  .wrapper {                  
    padding: 2% 10%  
  }      

}

@media only screen and (min-width: 1500px) {

  .wrapper {                  
    padding: 2% 20%  
  }      
  

@media only screen and (max-width: 800px) {


}
