{% macro module(class, config, config_menu_item, content) %}

  
    {% for mod in config[config_menu_item][class] %}
      <div class="{{mod}}">
        {% if mod == 'content' %}
          {{ content }}
        {% else %}
          {% include mod+'/mod.jinja' %}
        {% endif %}
      </div>
    {% endfor %}


{% endmacro %}
