html {    
  background-color: #EFEFEF;    
  font-family: "Georgia";    
  font-size: 20px;
  position: relative;
  min-height: 100vh;
}    

.wrapper {                  
  display: grid;
  grid-template-columns: repeat(12, [line] 1fr);    
  grid-gap: 0px;
  padding: 0% 0%;
  padding-bottom: 2rem;    
}      

header {
  display: flex;
  font-size: 40px;
  justify-content: center;
}



a {
  color: #207f4c;
  text-decoration: none;
}

a:hover{
  background-color: #9eccab;
}
.wrapper > * {   
  grid-column: line 1 / line 13;

}

.footer-wrapper {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 2.5rem;  
}



.wrapper {                  
  padding: 2% 0%  
}      

@media only screen and (min-width: 1000px) {
  
  .wrapper {                  
    padding: 2% 10%  
  }      

  .footer-wrapper {
    width: 80%;
  }


}

@media only screen and (min-width: 1500px) {
  
  .wrapper {                  
    padding: 2% 20%  
  }      

  .footer-wrapper {
    width: 60%;
  }


}
