<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" type="text/css" href="css/mod.css">
<link rel="stylesheet" type="text/css" href="css/{{config['Menu'][config_menu_item]}}.css">
<link rel="stylesheet" type="text/css" href="../custom/css/style.css">
<link rel="stylesheet" type="text/css" href="../custom/css/{{config['Menu'][config_menu_item]}}.css">
