{% from 'custom-mod/mod.jinja' import module %}
<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title>
      {{ config['Title'] }}
    </title>
    {% include 'load-css/mod.jinja' %}
</head>


<body>

<div class="wrapper">
  
  <header>
    {{ config['Title'] }}
  </header>

  <div class="menu-wrapper">
    
    {% include 'main-menu/mod.jinja' %}

  </div>

  <div class="main-wrapper">
    
    {% set class = 'main' %}
    {{module(class = class,
        config = config, 
        config_menu_item = config_menu_item,
        content = content)
    }}

  </div>
  
  <div class="footer-wrapper">
    <footer>
      Powered by <a href=#>Vanilla</a>
    </footer>
  </div>

</div>


<script type="text/javascript"
    src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>


</body>
</html>
